
.doc-end {
	clear: both;
	display: none;
}

.doc-app {
	width: 100%;
}

.doc-top {
	width: 99%;
	height: 8rem;
	border-bottom-color: rgb(221, 221, 221);
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgb(221, 221, 221);
}

.doc-icon {
	float: left;
	position: relative;
	text-align: center;
	margin-left: 2rem;
	background-position: center center;
}

.doc-icon-img {
	width: 7rem;
	height: 7rem;
}

.doc-title {
	float: left;
	position: relative;
	font-size: 3.2rem;
	font-weight: bold;
	line-height: 7rem;
	height: 7rem;
	margin-left: 2rem;
	text-align: center;
	vertical-align: middle;
	overflow:hidden;
}

.doc-body, .doc-left, .doc-middle {
}

.doc-body {
	width: 100%;
}

.doc-left {
	width: 20%;
	float: left;
	position: relative;
	padding-top: 1rem;
    border-right: 1px solid rgb(221, 221, 221);
	display: block;
	background-color: #eef1f6;
}

#doc-menus {
  width: 100%;
  overflow-y: auto;
}

.doc-split {
  width: 2%;
  float: left;
}

.doc-content {
	width: 78%;
	float: left;
}

.doc-frame {
	width: 100%;
	overflow: visible;
}