//@CHARSET "UTF-8";

//@base-font-size: 1rem;

html {
	//font-size: 100%;
	overflow-y: scroll;
	//-webkit-text-size-adjust: 100%;
	//-ms-text-size-adjust: 100%;
}

body {
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
    padding-bottom: 1rem;
}

h1 {
	color: #000000;
	font-size: 2.8rem;
}

h2 {
	//border-bottom: 2px solid #CCCCCC;
	color: #000000;
	font-size: 2.4rem;
}

h3 {
	//border-bottom: 2px solid #CCCCCC;
	font-size: 1.8rem;
}

h4 {
	font-size: 1.6rem;
}

h5 {
	font-size: 1.4rem;
}

h6 {
	color: #777777;
	background-color: inherit;
	font-size: 1.4rem;
}

hr {
	height: 0.2em;
	border: 0;
	color: #CCCCCC;
	background-color: #CCCCCC;
}

p, blockquote, ul, ol, dl, li, table, pre {
	margin: 1.5rem 0;
}

p {
	margin: 1rem 0;
}

pre {
	background-color: #F8F8F8;
	border: 1px solid #CCCCCC;
	border-radius: 0.3rem;
	overflow: auto;
	padding: 0.5rem;
}

pre code {
	background-color: #F8F8F8;
	border: none;
	padding: 0;
}

code {
	font-family: Consolas, Monaco, Andale Mono, monospace;
	background-color: #F8F8F8;
	border: 1px solid #CCCCCC;
	border-radius: 0.3rem;
	padding: 0 0.2em;
	line-height: 1;
}

pre>code {
	border: 0;
	margin: 0;
	padding: 0;
}

a {
	color: #0645ad;
	text-decoration: none;
}

a:visited {
	color: #0b0080;
}

a:hover {
	color: #06e;
}

a:active {
	color: #faa700;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}

::-moz-selection {
	background: rgba(255, 255, 0, 0.3);
	color: #000
}

::selection {
	background: rgba(255, 255, 0, 0.3);
	color: #000
}

a::-moz-selection {
	background: rgba(255, 255, 0, 0.3);
	color: #0645ad
}

a::selection {
	background: rgba(255, 255, 0, 0.3);
	color: #0645ad
}

blockquote {
	color: #666666;
	margin: 0;
	padding-left: 3em;
	border-left: 0.5em #EEE solid;
}

ul, ol {
	margin: 1em 0;
	padding: 0 0 0 2em;
}

li p:last-child {
	margin: 0
}

dd {
	margin: 0 0 0 2em;
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: middle;
	max-width: 100%;
}

@media only screen and (min-width: 48rem) {
	body {
		font-size: 1.4rem;
	}
}

@media only screen and (min-width: 76.8rem) {
	body {
		font-size: 1.6rem;
	}
}

.title {
    //border-bottom: 1px solid rgb(217, 217, 217);
    color: rgb(51, 51, 51);
	font-family: "Microsoft Yahei, 微软雅黑, Tahoma, Arial, Helvetica, STHeiti";
	font-size: 2.4rem;
	font-weight: bold;
	text-align: left;
	text-rendering: optimizeLegibility;
	text-size-adjust: 100%;
	height: 4rem;
	line-height: 4rem;
    margin: 1rem 0rem 1rem 3rem;
    padding-bottom: 2rem;
	padding-top: 3rem;
}

.content {
	padding-top: 1rem;
	word-break: break-all;
	overflow-x: hidden;
	overflow-y: hidden;
	font-size: 1.6rem;
	line-height: 1.7rem;
	margin-left: 3rem;
}

code {
	padding: 0.2rem 0.4rem;
	color: #d14;
	white-space: nowrap;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
	border-radius: 0.3rem;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 95%;
}

tr {
	color: rgb(255, 255, 255);
}

th, td {
	vertical-align: top;
	display: table-cell;
	padding: 0.8rem;
	line-height: 2rem;
	text-align: left;
	vertical-align: top;
	color: rgb(51, 51, 51);
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
}

thead tr {
	background-color: rgb(0, 136, 204);
}

thead tr th {
	text-align: left;
	min-width: 7.7rem;
	vertical-align: bottom;
	font-weight: bold;
}

tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

tbody tr th {
	text-align: left;
	border-bottom-left-radius: 0.4rem;
	color: #333;
}