@left-space: 1rem;

h2 {
  margin-left: @left-space;
}

//h3 {
//  margin-left: @left-space;
//}

.clear {
  clear: both;
}

//////////////////////////////////////////////////////////////////

.item-list {
  float: left;
}

.item-new {
  margin-left: 1rem;
  float: left;
}

.item {
  margin-bottom: 0.5rem;
}

.item-key {
  width: 20rem;
  margin-left: 1rem;
  float: left;
}

.item-value {
  width: 40rem;
  margin-left: 0.5rem;
  float: left;
}

/////////////////////////////////////////////////////////////////

.request {
  width: 80%;
  margin-left: @left-space;
}

.request-method {
  width: 7rem;
  margin-left: @left-space;
  float: left;
}

.request-url {
  width: 52.6rem;
  margin-left: 1rem;
  float: left;
}

.params {
  margin-top: 2rem;
  margin-left: @left-space;
}

.headers {
  margin-top: 2rem;
  margin-left: @left-space;
}

.send {
  margin-left: @left-space;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

/////////////////////////////////////////////////////////////////

.response {
  margin-left: @left-space;
  width: 80%;
}

.response-code {
  margin-left: @left-space;
}

//////////////////////////////////////////////////////////

.output {
  margin-left: @left-space;
  width: 80%;
}

pre.output-logs {
  margin-left: @left-space;
  white-space: pre-wrap;
  word-wrap: break-word;
}